body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #34495e;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

/* De kleuren van de velden */
.white { background-color: #ecf0f1; }
.black { background-color: #95a5a6; }

/* Voorkom dat tekst geselecteerd wordt tijdens het slepen */
.piece {
    user-select: none;
}
